<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Ürün Silme</legend>

        <div class="form-group">
            <label class="col-md-8 control-label" for="product_categorie">ÜRÜN IDSİ</label>
            <div class="col-md-8">
                <select id="product_categorie" name="product_categorie" class="form-control">
                </select>
            </div>
        </div>

        <!-- Button -->
        <div class="form-group">
            <label class="col-md-8 control-label" for="singlebutton">Kaydet</label>
            <div class="col-md-8">
                <button id="singlebutton" name="singlebutton" class="btn btn-primary">Ürünü sil</button>
            </div>
        </div>

    </fieldset>
</form>
