<!DOCTYPE html>
<html lang="tr">
{{>admin/tools/head}}
<body>
    <div class="container-scroller">
        <!-- partial:partials/_sidebar.html -->
        {{>admin/tools/sidebar}}
        <!-- partial -->
        <div class="container-fluid page-body-wrapper">
            <!-- partial:partials/_navbar.html -->
            {{>admin/tools/navbar}}
            <!-- partial -->
            <div class="main-panel">
                {{{body}}}
                <!-- content-wrapper ends -->
                <!-- partial:partials/_footer.html -->
                {{>admin/tools/footer}}
                <!-- partial -->
            </div>
            <!-- main-panel ends -->
        </div>
    <!-- page-body-wrapper ends -->
    </div>
{{>admin/tools/scripts}}
</body>
</html>